<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- d3 JS CDN v5-->
<script src="https://d3js.org/d3.v4.min.js"></script>

<link rel="icon" type="image/x-icon" class="js-site-favicon" href="/static/images/favicon.ico">

<link rel="stylesheet" type="text/css" href="/static/js/css/style.css">