<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="site_header">
        <img src="../static/images/header.png" style="width: 100%; height: auto;">
    </header>
    <nav class="nav-bar">
        <h2>Menu</h2>
        <input id="toggle" type="checkbox" checked>
        <ul>
            <li><a href="/model">NLTK Model</a></li>
            <li><a href="https://github.com/alexisophiek/Final_Project">Twit Stack GitHub</a></li>
            <li><a href="#second-section">NRC Stuff</a></li>
            <li><a href="#third-section">More Visuals</a></li>
            <li><a href="#fourth-section">Analysis</a></li>
            <li><a href="/main">Back to the Top</a></li>
        </ul>
    </nav>
    <main class="site__main">
        <div class="site__content">
            <div class="container">
                <section id="first-section" class="grid grid--01-our-mission">
                    <div>
                        <h2 class="h1">Our Goal</h2>
                    </div>
                </section>
                <section id="second-section" class="grid grid--02-our-stuff">
                    <div>
                        <h2 class="h1">NRC Table and VIS</h2>
                        <svg id="nrc_play?"></svg>

                    </div>
                </section>
                <section id="third-section" class="grid grid--03-our-viz">
                    <div>
                        <h2 class="h1">Visualizations</h2>
                        <h3 class="h2">Super Tuesday!</h3>
                        <svg id="wordcloud"></svg>
                        <svg id="timeline?"></svg>

                    </div>
                </section>
                <section id="fourth-section" class="grid grid--04-our-analysis">
                    <div>
                        <h2 class="h1">Our Analysis</h2>
                        <h3 class="h2">Interesting enough</h3>
                        <!-- Word Bag type Vis and other -->
                    </div>
                </section>
                <section id="fifth-section" class="grid grid--05-most-popular-tweets">
                    <div>
                        <h2 class="h1">Fun Fact pulled from Tweets?</h2>
                        <h3 class="h2"></h3>
                        <p>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        </div>
    </main>
    </div>
    <div class="site__footer">
        <footer class="footer">
            <p class="h4 u-text-center">A University of Oregon Data Analytics Boot Camp Project, 2020</p>
            <script src="#"></script>
            <script src="#"></script>
            <script src="#"></script>
            <script src="#"></script>
        </footer>
    </div>
</body>

</html>