<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- d3 JS CDN v5-->
<script src="https://d3js.org/d3.v4.min.js"></script>

<link rel="icon" type="image/x-icon" class="js-site-favicon" href="/static/images/favicon.ico">



</head>

<body>
    {% include 'nav.html' %}

    <div class="site">
        <header class="site__header">
            <h1 class="u-visually-hidden">Welcome to Twit Stack</h1>
            
        </header>
        <main class="site__main">
            <div class="site__nav">
                <div class="navigation s-locked" style="width: 150px;">
                    <span class="hamburger">
                        <span class="u-visually-hidden">Toggle Menu</span>
                    </span>
                </div>
                <div class="navigation__panel">
                    <header class="navigation__header">
                        <img src="#">
                            <h1 class="navigation__title">
                                A Sentiment Analysis of Twitter<br>
                                Election Year, Winter 2020
                            </h1>
                    </header>
                    <!-- <li>
                        <label class="navigation__label"></label>
                        <ul class="navigation_subsections"></ul>
                    </li> -->
                </div>
            </div>
            <h3>Home/Index/Main</h3>
            <div class="site__content">
                <div class="container">
                    <section id="first-section" class="grid grid--01-our-mission">
                        <div>
                            <h2 class="h1">Our Goal:</h2>
                            <h3 class="h2">Observations of Dissent</h3>
                            <p>To measure the range of emotion and dissent in America leading up to the 2020 Elections
                            </p>
                        </div>
                    </section>
                    <section id="second-section" class="grid grid--02-our-map">
                        <div>
                            <h2 class="h1">Our Process:</h2>
                            <h3 class="h2">dkoierblknfo;aeflklkdlkslksklsd</h3>
                            <!-- <Heat Map with JS -->
                            </div> 
                    </section>
                    <section id="second-section" class="grid grid--02-our-map">
                        <div>
                            <h2 class="h1">Our Map:</h2>
                            <h3 class="h2">The Range of Dissent in America</h3>
                            <!-- <Heat Map with JS -->
                            </div> 
                    </section>
                    <section id="third-section" class="grid grid--03-our-analysis">
                        <div>
                            <h2 class="h1">Our Analysis:</h2>
                            <h3 class="h2">Word Cloud and Other Visualizations</h3>
                            <!-- Word Bag type Vis and other -->
                        </div>
                        <section id="fourth-section" class="grid grid--04-most-popular-tweets">
                            <div>
                                <h2 class="h1">Tweet of the Day</h2>
                                <h3 class="h2"></h3>
                                <p>To measure the range of emotion and dissent in America leading up to the 2020 Elections
                                </p>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
    </div>
    </main>
    </div>
    <div class="site__footer">
        <footer class="footer">
            <div class="footer__nav_sync"></div>
            <div class="footer__inner">
                <div class="footer__content">
                    <div class="footer__Section footer__section--NAME"></div>
                    <div class="footer__Section footer__section--NAME"></div>
                    <div class="footer__Section footer__section--NAME"></div>
                    <div class="footer__Section footer__section--NAME"></div>
                </div>
                <p class="h4 u-text-center">A University of Oregon Data Analytics Boot Camp Project, 2020</p>
            </div>
        </footer>
    </div>
</body>

</html>