<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="z-index: 2;">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/dump">Data Dump</a>
  <a class="navbar-brand" href="/vis">Visualize</a>
  <a class="navbar-brand" href="/NRC">NRC</a>
  <a class="navbar-brand" href="/sentiment">Sentiment</a>
  <a class="navbar-brand" href="/">Further Reading</a>
  <a class="navbar-brand" href="/">Warwhatisitgoodfor?</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<!--       <div class="navbar-nav">
          <a class="nav-link" href="map">Map</a>
          <a class="nav-link" href="presentation">Presentation</a> -->
      </div>
      </div>
  </nav>
